/* SUCCESS */

.toast-success-container {
  color: #000 !important;
  border-radius: 8px !important;
  background: #ffffff !important;
  border: 1px solid #34a853 !important;
  box-shadow: 0px 1px 5px rgba(248, 175, 175, 0.1) !important;
}

.toast-success-container-after {
  overflow: hidden;
  position: relative;
}

.toast-success-container-after::after {
  top: 0;
  left: 0;
  content: "";
  width: 7px;
  height: 100%;
  position: absolute;
  display: inline-block;
  background-color: #34a853;
}

.toast-success-progress {
  background: #34a853;
}

/* ERROR */

.toast-error-container {
  color: #000 !important;
  border-radius: 8px !important;
  background: #ffffff !important;
  border: 1px solid #ee0022 !important;
  box-shadow: 0px 1px 5px rgba(248, 175, 175, 0.1) !important;
}

.toast-error-container-after {
  overflow: hidden;
  position: relative;
}

.toast-error-container-after::after {
  top: 0;
  left: 0;
  content: "";
  width: 7px;
  height: 100%;
  position: absolute;
  display: inline-block;
  background-color: #ee0022;
}

.toast-error-progress {
  background: #ee0022;
}

/* INFO */

.toast-info-container {
  color: #000 !important;
  border-radius: 8px !important;
  background: #ffffff !important;
  border: 1px solid #34a853 !important;
  box-shadow: 0px 1px 5px rgba(248, 175, 175, 0.1) !important;
}

.toast-info-container-after {
  overflow: hidden;
  position: relative;
}

.toast-info-container-after::after {
  top: 0;
  left: 0;
  content: "";
  width: 7px;
  height: 100%;
  position: absolute;
  display: inline-block;
  background-color: #34a853;
}

.toast-info-progress {
  background: #07f;
}
